<div class="main-menu">
    <ul>
        {if !$user->isLoggedIn()}
            <li><a href="{plink Sign:in}">{_global.menu.signIn}</a></li>
            <li><a href="{plink Sign:up}">{_global.menu.signUp}</a></li>
        {else}
            <li><a href="{plink Users:settings}"><strong>{$user->getIdentity()->firstname} {$user->getIdentity()->lastname}</strong></a></li>
            <li><a href="{plink Sign:out}">{_global.menu.signOut}</a></li>
        {/if}
    </ul>
</div>