<div class="navigate-filter">
    <ul class="navigate-filter-list">
    {foreach $items as $id => $name}
        <li><a href="{if $type == 'towns'}{plink Towns:default, id => $id}{else}{plink Homepage:default, id => $id}{/if}">{$name}</a></li>
    {/foreach}
    </ul>
</div>