<a href="{plink Events:default, id=> $event->id_event}">
    <div class="event-tile">
        <div class="event-photo">
            <img src="{$basePath}/images/events/1.jpg">
        </div>
        <div class="event-info">
            <div class="event-name">
                {$event->name}
            </div>
            <div class="event-description">
                {$event->description|truncate:300}
            </div>
        </div>
    </div>
</a>
