{block content}
<div class="town-header">
    <h1>{$town->name}</h1>
    <small>{$town->district->name}</small>
    {if $user->isLoggedIn()}
    <span>
    {snippet favouriteCity}
        {if !$favouritedCity}
            <a href={link favourite!, favourite => true} class="ajax">{_towns.default.favouriteCity}</a>
        {else}
            <a href={link favourite!, favourite => false} class="ajax">{_towns.default.unfavouriteCity}</a>
        {/if}
    {/snippet}
    </span>
    {/if}
</div>
<div class="town-events">
{foreach $events as $event}
    {control eventTile, $event}
{/foreach}
</div>