{block content}
<div>
    <h1>{$event->name}</h1>
    <p>{$event->description}</p>
    <div>{_events.default.price}: {$event->price},-</div>
    <div>{$event->begin|date:'j. n. Y'} - {$event->end|date:'j. n. Y'}</div>
    <div>{$event->location}</div>
</div>