<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <link rel="shortcut icon" href="favicon.ico?v=1" />

        <title>{ifset $title}{$title} | {/ifset}{_global.defaultTitle}</title>

        <link rel="stylesheet" href="{$basePath}/libs/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{$basePath}/libs/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" href="{$basePath}/css/screen.css">
        {block head}{/block}
    </head>

    <body>

        <div class="page">
            <header>
                <a href="{link Homepage:default}"><img src="{$basePath}/images/logo.png"></a>
            </header>
            <div class="content-wrapper">
                {control mainMenu}
                <div class="content">
                    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{_$flash->message}</div>
                    {include content}
                </div>
            </div
        </div>

        <script src="{$basePath}/js/jquery-2.1.1.min.js"></script>
        <script src="{$basePath}/libs/bootstrap/js/bootstrap.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        {block scripts}{/block}
    </body>
</html>
