html, body {
    min-height: 100%;
    height: 100%;
    min-width: 900px;
}

.page {
    width: 900px;
    border: 1px solid #000000;
    border-bottom: none;
    border-top: none;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 100%;
    display: table;
    padding-bottom: 25px;
}

.page header {
    background-color: #999;
}

.content {
    margin: 25px;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

.page header {
    border-bottom: 2px solid #000000;
}

.main-menu {
    height: 20px;
    border-bottom: 1px solid #AAAAAA;
}

.main-menu ul {
    float: right;
    height: 50px;
}

.main-menu ul li {
    display: inline;
    margin: 0 0.15em
}

.navigate-filter {
    width: 850px;
    border: 1px solid #000000;
    padding-top: 25px;
    text-align: center;
}

.navigate-filter-list {
    margin-bottom:20px;
    overflow: hidden;
}
.navigate-filter-list li {
    line-height:1.5em;
    float:left;
    display:inline;
    width:25%;
}

.event-tile {
    border: 1px solid #ddd;
    margin: 5px;
    float:left;
    display:inline;
    width: 48%;
    padding: 3px;
}

.event-photo {
    height: 100px;
    width: 80px;
    float: left;
    margin: 3px;
}
